@charset "UTF8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #030e18;
}
.screen{
    display: flex;
    height: 100vh;

}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    
}
.rightside{
    width: 500px;
   background-image: linear-gradient(to bottom, #3fd7d3, #81f791);
   padding: 50px;
}
.rightside h1{
    color: #080B11;
    text-align: center;
    margin-bottom: 10px;
}
.rightside label{
    display: block;
    margin-bottom: 20px;
    color: #030e18;
}
.rightside input{
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 14px;
    padding: 8px;
    outline: 0;
}
.screen input{
    border: none;
    border-bottom: 2px solid #030e18;
}
.cadastrar{
    width: 100px;

}
div a{
    text-decoration: none;
}
div a:hover{
    color: #09b1ab;
}
.cadastrar input{
    cursor: pointer;
    border: none;
    width: 401px;
    height: 40px;
    color: white;
    font-size: 18px;
    background-color: #030e18;
    border-radius: 8px;
}
.cadastrar input:hover{
    background-color: #030e18b2;
}
.error{
    color: #d11d10;
    padding: 4px;
    margin-top: 5px;
}