@charset "UTF8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.screen{
    display: flex;
    height: 100vh;

}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/one\ piece.png);
    background-position: center;
    background-size: cover;
    
}
.rightside{
    width: 500px;
   background-image: linear-gradient(to bottom, #3fd7d3, #81f791);
   padding: 50px;
}
.rightside h1{
    color: #080B11;
    text-align: center;
    margin-bottom: 10px;
}
.rightside label{
    display: block;
    margin-bottom: 20px;
    color: #187e04;
}
.rightside input{
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 14px;
    padding: 8px;
    outline: 0;
}
.border{
    border-bottom: 2px solid #09317c;
}
.cadastrar{
    border: 2px solid red;
    background-color: rgb(243, 64, 64);
    width: 100px;
    margin: auto;
}
.cadastrar input{
    cursor: pointer;
}